{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ category.id }}{% endblock %}

{% block body %}
    <div class="media">
       <h1>{{ category.name }}</h1>
       <ul>
        {% for program in programs %}
            <li>{{ program.title }}</li>
            <p>{{ program.synopsis }}</p>
        {% endfor %}
       </ul>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}