{% extends 'base.html.twig' %}

{% block title %}
Série #{{ program.id }}
Saison {{ season.id }}
{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
            <p>{{ season.description }}</p>
        </div>
        <h2>Episodes disponibles:</h2>
            <ul>
            {% for episode in season.episodes %}
                <li>Episode {{ episode.number }}: {{ episode.title }}</li>
                <li>Synopsis: {{ episode.synopsis }}</li>
            {% endfor %}
            </ul>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}
